@use "../../App.scss";

.checkbox-effect {
	margin: 20px;
}

.checkbox-label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	user-select: none;
}
  
.checkbox-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
  
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
  
.checkbox-label:hover input ~ .checkmark {
	background-color: #ccc;
}
  
.checkbox-label input:checked ~ .checkmark {
	background-color: App.$ohms-secondary;
}

.checkbox-label input:focus ~ .checkmark {
	outline: -webkit-focus-ring-color auto 1px;
}
  
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
  
.checkbox-label input:checked ~ .checkmark:after {
	display: block;
}
  
.checkbox-label .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}