.ofs-prg-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ofs-prg-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}