@import "../../../App.scss";

.nvr-prg-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nvr-prg-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nvr-bottom-space {
    margin-bottom: 30px;
}

.nvr-selected-file {
    margin-left: 10px;
}

.nvr-prg-table {
    border-collapse: collapse;
    width: 100%;
}

.nvr-prg-table-sec {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.nvr-prg-table-row-unprogrammed {
    background-color: $ohms-secondary-light;
}